<?xml version="1.0"?>
<robot name="lidar" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="lidar" params="robot_name">
    
        <joint name="laser_joint" type="fixed">
            <origin xyz="0.041 0.0 0.0675" rpy="0 0 0"/>
            <parent link="chassis"/>
            <child link="laser_frame"/>
        </joint>

        <link name="laser_frame">
            <inertial>
                <origin xyz="-1.3877787807814457e-17 3.712759723445761e-18 0.01655819864134618" rpy="0 0 0"/>
                <mass value="1.2018575703660443"/>
                <inertia ixx="0.000362" iyy="0.000971" izz="0.001084" ixy="0.0" iyz="0.0" ixz="0.0"/>
              </inertial>
              <visual>
                <origin xyz="-0.041 -0.0 -0.0675" rpy="0 0 0"/>
                <geometry>
                  <mesh filename="file://$(find multi_bots)/meshes/lidar.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="black"/>
              </visual>
              <collision>
                <origin xyz="-0.041 -0.0 -0.0675" rpy="0 0 0"/>
                <geometry>
                  <mesh filename="file://$(find multi_bots)/meshes/lidar.stl" scale="0.001 0.001 0.001"/>
                </geometry>
              </collision>
        </link>
        
        <gazebo reference="laser_frame">
            <material>Gazebo/Black</material>

            <sensor name="laser" type="ray">
                <pose> 0 0 0 0 0 0 </pose>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                        <samples>360</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.3</min>
                        <max>12</max>
                        <resolution>0.015000</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <!-- this from new -->
                        <namespace>${robot_name}</namespace>
                        <remapping>~/out:=scan</remapping>
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>${robot_name}/laser_frame</frame_name>
                </plugin>
                
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>